{% load static %}
<div class="container mt-5">
    {% block content %}
    <ul class="nav bg-info">
        <li class="nav-item">
            <a class="nav-link link-light" href="/">ACCEUIL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'base' %}">LA BASE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'club' %}">LE CLUB</a>
        </li>
        {%  if user.is_authenticated %}
        <li>
            <a class="nav-link link-light" href="{% url 'logout_request' %}">Se deconnecter</a>
        </li>
        <li>
            <a class="nav-link link-light" href="{% url 'hangar' %}">Hangar</a>
        </li>
        <li>
            <a class="nav-link link-light" href="{% url 'resa' %}">Reservation</a>
        </li>
        {% else %}
        <li>
            <a class="nav-link link-light" href="{% url 'member_login' %}">Se connecter</a>
        </li>
    </ul>
    {% endif %}
  {% endblock %}
</div>