@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    width: auto;
}

#header {
    width: 100%;
    height:10rem;
}
.bold {
    font-weight: bold;
}
#header nav {
    font-weight: bold;
    font-size: larger;
    color: aqua;
    align-content: center;
    margin: 20px;
}

#main-title {
    height: 25rem;
    margin-top: 2%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: black;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2rem;
}
#sub-title {
    height: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rebeccapurple;
}

#main-container {
    background-color: rgb(63, 136, 205);
    margin-bottom: 2rem;
    margin-top: 1rem;
    height: auto;
}

.carte {
    height: auto;
    padding: 2rem;
    margin: 2rem;
    color: blueviolet;
    display:flex;
    flex-direction: column;
    align-content: center;
    background-color: azure;
}
.carte-image {
    overflow:auto;
}

.carte-title{
    display: flex;
    flex-direction: column;

}
.carte-content {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: larger;
}
.separator {
    height: 20rem;
    background-color: whitesmoke;
    padding: 0px;
}


#container-form {
    display: flex;
    flex-direction: column;
    background-color: chocolate;
}
#formulaire {
    height: 8em;
    border: 2px solid rgb(75 70 74);
    border-radius: 0.5em;
    font: 1.2em sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: center;
}

#formulaire input {
    border: 2px solid rgb(95 97 110);
    border-radius: 0.5em;
    padding: 20px;
    width: 10em;
}
#formulaire button {
    background-color: aqua;
}

#footer {
    width: auto;
    height: auto;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: anchor-center;
}