
{% extends 'page/base_html.html' %}

{% block content %}
<div class="container">
<p><h1>Le Hangar de &nbsp{{ user.username | upper }}&nbsp</h1>
ça c'est ton hangar alors prends en soin mon bonhome</p>

<table class="table table-striped table-bordered table-responsive">
    <thead>
        <tr>
        <th>Appareil</th>
        <th>Départ</th>
        <th>Retour</th>
        <th>Observations</th>
        <th>Supprimer</th>
        <tr>
        </thead>
        {% for log in logs %}
        <tr>
            <td>{{ log.appareil }}</td>
            <td> {{ log.depart }}</td>
            <td> {{ log.retour }}</td>
            <td> {{ log.observations}}</td>
            <td>
                <form action="{% url 'delete_log' id=log.id %}" method="POST">
                    {% csrf_token %}  
                    <button class="btn btn-danger" type="submit">Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    
    <a href="{% url 'form_log' %}"/>
    <button class="btn btn-success">Ajouter</button>
    </a>
</div>
{% endblock %}
